:root {
  font-family: 'Exo';
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  --turkis: #0DD3FE;
  --blue: #004B95;
  --pink: #C20292;
  --light: #F4F4F4;
  --card: #E5FAFF;
}

* {
  box-sizing: border-box;
  padding:0px;
  margin:0px;
}

body {
  margin: 0;
}

h1 {
  font-family: 'exo';
  color: var(--blue);
  font-size: 24px;
}


p {
  font-family: 'exo';
  color: var(--font-blue);
}
